/* Set the Inter font as the default */
body {
  font-family: "Inter", sans-serif;
  scroll-behavior: smooth;
}

/* Simple scrollbar styling for a more modern feel */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #111827; /* dark:bg-gray-900 */
}
::-webkit-scrollbar-thumb {
  background: #374151; /* dark:bg-gray-700 */
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background: #4b5563; /* dark:bg-gray-600 */
}
